{% extends 'base.html' %}
{% load static %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/create_cv.css' %}" />
<link rel="stylesheet" href="{% static 'css/templates/template1.css' %}" />
{% endblock extra_styles %}

{% block content %}

<div id="username" data-username="{{username}}"></div>
<div id="user-id" data-userid="{{user_id}}"></div>
<div class="split-container">
    <div class="split left">
        <form id="pinfo">
            <h2>Personal Information </h2>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName">
                </div>
                <div class="form-group col-md-6">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="image">Image URL</label>
                    <input type="text" class="form-control" id="image">
                </div>
                <div class="form-group col-md-6">
                    <label for="location">Location</label>
                    <input type="text" class="form-control" id="location">
                </div>
            </div>

            <div class="form-group">
                <label for="headline">Headline</label>
                <input type="text" class="form-control" id="headline">
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="pob">Place of Birth</label>
                    <input type="text" class="form-control" id="pob">
                </div>
                <div class="form-group col-md-6">
                    <label for="dob">Date of Birth</label>
                    <input type="date" class="form-control" id="dob">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email">
                </div>
                <div class="form-group col-md-6">
                    <label for="phone">Phone</label>
                    <input type="phone" class="form-control" id="phone">
                </div>
            </div>

        </form>
        <hr>
        {% comment %} Skills {% endcomment %}
        <div class="skills">
            <h2>Experience</h2>
            <form style="border: 1px solid #ccc; padding: 30px"   id="expInfo">
                <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="title">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="company">Company</label>
                    <input type="text" class="form-control" id="company" name="company">
                </div>
                </div>
                <div class="row">
                    <div class="col-md-5 mb-3">
                        <label for="start">Start Date</label>
                        <input type="date" class="form-control" id="start" name="start">
                    </div>
                    <div class="col-md-5 mb-3">
                        <label for="end">End Date</label>
                        <input type="date" class="form-control" id="end" name="end">
                    </div>
                    <div class="col-auto mb-3">
                        <label class="present" for="present">Present</label>
                        <input sytle="font-size=20px;" class="form-control check" type="checkbox" name="present" id="present">               
                    </div>
                </div>
                <div class="row">    
                <div class="col-md-12 mb-3">
                    <label for="description">Description</label>
                    <input class="form-control" id="description" name="description">
                </div>
                </div>            
            </form>
            <div class="row pt-2">
                <div class="col-md-6">
                </div>
                <div style="display: flex; justify-content: space-between" class="col-md-6 ml-auto">
                    <div></div>
                    <button type="button" class="btn btn-success btn-sm">
                        <i class="fas fa-plus"></i>
                        +
                    </button>
                </div>
            </div>
        </div>
        {% comment %} end of skills {% endcomment %}
        <hr>
        
    </div>
    <div class="split right">
        {% if template_id == 1 %}
            {% include "cv_templates/template_1.html" %}
        {% elif template_id == 2 %}
            {% include "cv_templates/template_2.html" %}
        {% elif template_id == 3 %}
            {% include "cv_templates/template_3.html" %}
        {% endif %}

        {% if user_cv %}
            <div id="usercv" >usercv</div>
        {% endif %}
        <p id="url" >{% url 'cvs:generate-cv' %}</p>
        <p id="url1" data-createurl="{% url 'cvs:create-cv' 1 %}" ></p>
{% endblock content %}
    </div>
</div>



<script>
    const url = 
{% block scripts %}
    <script src="{% static "javascript/template_create.js" %}"></script>
{% endblock scripts %}
</script>