<header>
  <h1 id="name_tem"></h1>
  <p id="headline_tem"></p>
</header>

<div class="content">
  <div class="content__left">
    <h1>Personal Information</h1>
    <hr>
    <ul>
      <li><strong>Frist Name: <span id="fname_tem"></span></strong> </li>
      <li><strong>Last Name: <span id="lname_tem"></span></strong> </li>
      <li><strong>Date of Birth: <span id="dob_tem"></span></strong> </li>
      <li><strong>place of Birth: <span id="pob_tem"></span></strong> </li>
      <li><strong>Location: <span id="location_tem"></span></strong></li>
      <li><strong>Email: <span id="email_tem"></span></strong></li>
      <li><strong>Phone: <span id="phone_tem"></span></strong> </li>
    </ul>
    <div class="">
      <h1>Experience</h1>
      <hr>
      <ul id="exp-list">
        <li class="exp">
          <h5 id="exp_title_tem">Web Developer</h5>
          <h5 id="exp_company_tem">ABC Company</h5>
          <h5><span id="exp_start_tem">June 2012 </span> - <span id="exp_end_tem">present</span></h5>
          <h5 id=""><strong>Responsibilities: </strong></h5>
          <p style="font-size: 20px" id="exp_desc_tem">Making shit out of nothing</p>
          <hr>
        </li>
      </ul>
    </div> 
    
    {% comment %} 
    <h2>Education</h2>
    <ul>
      <li><strong>Bachelor's Degree in Computer Science</strong></li>
      <li>University of XYZ</li>
      <li>Graduated in May 2012</li>
    </ul>
    
    <h2>Achievements</h2>
    <ul>
      <li>Completed Project A, which resulted in a 30% increase in website traffic</li>
      <li>Received Employee of the Month award in January 2015</li>
    </ul>
  </div>
  {% endcomment %}
</div>