<header>
  <h1>John Doe</h1>
  <p>Web Developer Template 1</p>
</header>

<div class="content">
  <div class="content__left">
    <h2>Personal Information</h2>
    <ul>
      <li id="lname"><strong id="fname">Name:</strong> John Doe</li>
      <li><strong id="dob">Date of Birth:</strong> January 1, 1990</li>
      <li><strong id="emal">Email:</strong> johndoe@example.com</li>
      <li><strong id="phone">Phone:</strong> +1 (555) 555-5555</li>
    </ul>

    <h2>Education</h2>
    <ul>
      <li><strong>Bachelor's Degree in Computer Science</strong></li>
      <li>University of XYZ</li>
      <li>Graduated in May 2012</li>
    </ul>

    <h2>Achievements</h2>
    <ul>
      <li>Completed Project A, which resulted in a 30% increase in website traffic</li>
      <li>Received Employee of the Month award in January 2015</li>
    </ul>
  </div>

  <div class="content__right">
    <h2>Experience</h2>
    <ul>
      <li><strong>Web Developer</strong></li>
      <li>ABC Company</li>
      <li>June 2012 - Present</li>
      <li>Responsibilities:</li>
      <ul>
        <li>Develop and maintain company websites using HTML, CSS, and JavaScript</li>
        <li>Collaborate with designers to implement website designs</li>
        <li>Optimize website performance and user experience</li>
      </ul>

      <li><strong>Web Designer</strong></li>
      <li>DEF Agency</li>
    </ul>
  </div>