.split-container {
    display: flex;
}

.split {
    height: 100vh;
    /* Set height to full viewport height */
    overflow-y: scroll;
    /* Allow for scrolling */
}

.left {
    width: 50%;
    padding: 100px;
    /* Set left section to be half the width */
    background-color: #f1f1f1;
    /* Add some styling */
}

.right {
    width: 50%;
    /* Set right section to be half the width */
    background-color: #ddd;
    /* Add some styling */
}

/* Custom CSS styling goes here */
.form-row {
    margin-bottom: 10px;
}