{% extends 'base.html' %}
{% load static %}
{% block extra_styles %}
<style>
    /* Add any extra CSS styles here */
    body {
        padding: 0;
        margin: 0;
    }

    .hero {
        background-image: url("{% static 'images/background.jpg' %}");
        background-repeat: no-repeat;
        background-size: cover;
        height: 70vh;
        color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;

    }

    .overlay {
        position: absolute;
        top: 55px;
        left: 0;
        width: 100%;
        height: 70%;
        background-color: rgba(0, 0, 0, 0.7);
        /* Change the opacity (0.5) to your desired value */
    }

    .hero-content {
        padding: 20px;
        z-index: 100;

    }

    .main-text {
        font-size: 60px;
        font-weight: bold;
        font-family: Helvetica, sans-serif;
    }

    .templates {
        padding: 50px 0;
    }

    .call-to-action {
        padding: 50px 0;
        background-color: #d1bcc9;
        
    }
</style>
{% endblock extra_styles %}

{% block content %}
<!-- Hero Section -->
<section class="hero">
    <div class="overlay"></div>
    <div class="hero-content">
        <h1 class="main-text">Create a Professional CV Today</h1>
        <p class="lead">With our CV creation service, you can easily build a standout CV that will help you land your
            dream job.</p>
        <a href="{% url 'cvs:create-cv' 1 %}" class="btn btn-lg btn-success">Get Started</a>
    </div>
    <div class="hero-content">
        Content two
    </div>
</section>

<!-- Templates Section -->
<section class="templates">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h2>Choose from a Variety of Professional Templates</h2>
                <p class="lead">We offer a wide range of high-quality CV templates to help you showcase your skills and
                    experience.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <a href="{% url 'cvs:create-cv' 1 %}">
                    <img src="{% static 'images/cv1.png' %}" height=500px class="card-img-top" alt="classic template">
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <a href="{% url 'cvs:create-cv' 2 %}">
                        <img src="{% static 'images/cv2.png' %}" height=500px class="card-img-top" alt="classic template">
                        </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <a href="{% url 'cvs:create-cv' 3 %}">
                        <img src="{% static 'images/cv3.png' %}" height=500px class="card-img-top" alt="classic template">
                        </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Call to Action Section -->
<section class="call-to-action">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h2>Ready to Create Your Own Professional CV?</h2>
                <a href="#" class="btn btn-lg btn-success">Get Started Now</a>
            </div>
        </div>
    </div>
</section>
{% endblock content %}